body {
  background-color: #F5F5F5;
  color: gray;
}

.row {
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
}

.italic-word {
  font-style: italic;
  
  font-size: 3.0vh;
  margin-right: 20px;
}
